.label {
  background: #f0f2f5;
  color: #3d495c;
  padding: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.count {
  font-weight: bold;
  background: #023031;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px 7px;
}
