body {
  background-color: #052727;
  font-family: Epilogue;
  margin: 5%;
}

header {
  text-align: center;
}

.box-branco {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
}

.box-cardpreview {
  display: flex;
  flex-direction: column;
}

.new-card-form {
  display: flex;
  flex-direction: column;
}

.all-cards-title {
  color: white;
  font-size: 20px;
  font-style: italic;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.filters-box {
  background: #036b52;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  margin: 0 auto;
  width: 75%;
}

.filters-box > * {
  padding: 1%;
}

.filter-element {
  background: #036b52;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  margin: 0 5px;
}

::placeholder {
  color: white;
}
