body {
  background: #052727;
}

.logo {
  width: 504.31px;
  height: 302px;
  left: 387.92px;
  top: 76px;
}

.box-branco {
  position: absolute;
  width: 1124px;
  height: 721px;
  left: 78px;
  top: 473px;

  background: #ffffff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
}

.box-nova-carta {
  display: flex;
  flex-direction: column;
}

.box-preview {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;

  color: #2fc18c;
}
